*{
    padding: 0;
    margin: 0;
}

.form{
  margin: 10rem auto;
  padding: 10px;
  width: 400px;
  border-radius: 1rem;
  border: 1rem hidden rgb(34, 224, 65);
  overflow: hidden;
  border-collapse: collapse;
  box-shadow: 0 0 0 0.5px black;
  background-color: #59669c;
}
.name,.email,.contact,.course{
    float: right;
}
input{
width: 395px;
height: 45px;
}
.btn{
    margin-top:1rem;
    width: 90px;
    height:45px;
}